.c-sliding
  &-pagination
    &__list
      df(center, flex-end)
      &-element
        &--active .c-sliding-pagination__page
          border-color #4a4a4a
          pointer-events none
          cursor not-allowed
          opacity 1 !important
        &--disabled .c-sliding-pagination__page
          bgc transparent
          border-color #dbdbdb
          opacity .5 !important
          cursor not-allowed
    &__page
      display inline-flex
      pos relative
      h 2.25em
      line-height 1.5
      fs 1em
      text-align center
      justify-content center
      margin .25em
      padding calc(.375em - 1px) .5em
      min-width 2.25em
      border 1px solid #dbdbdb
      c #2e323a
      border-radius 4px
      bgc white
      transition .4s border-color, .4s opacity
      &:hover
        opacity .6