.title
  padding 1.5rem
  border-bottom 1px solid rgba(24,28,33,.06)
  &__level
    &-item
      ib()
      padding 0 0 0 .75rem
      fs 1.5rem
      c #7a7a7a
      &:first-child
        pl 0
      &:last-child
        pr 0
        font-weight 700
        c #242424
      &:not(:last-child):after
        ib()
        content "/"
        pl .75rem
  &__bar
    fontify 2rem 700 1.125

  &__default
    bgc #fff
    display flex
    align-items center
    justify-content space-between
    padding 1.5rem
    c #363636

  &__block
    c #363636
    padding 1.5rem
    bgc #fff
