.matches
  &__header
    display flex
    justify-content center
    align-items center
    height vw(60)

    &-title
      margin 0 vw(10)
      font-weight 700
      color #363636

  &__form

    &-content
      display flex
      align-items center

      &:nth-child(2)
        mt vw(30)

    &-textarea
      mt vw(10)
      resize none

    &-input
      mt vw(10)

    &-btn
      mt 0

    &-title
      text-align center
      font-weight 700
      color #363636

    &-box
      display flex
      mt vw(10)
      ml vw(30)

    &-goals
      width auto
      
    &-title
      display flex
      flex-direction column
      align-items center

    &-country
      ml vw(10)


