@font-face
  font-family 'Nunito'
  src url('~@/assets/fonts/Nunito-Regular.woff2') format('woff2'), 
      url('~@/assets/fonts/Nunito-Regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Nunito'
  src url('~@/assets/fonts/Nunito-Light.woff2') format('woff2'), 
      url('~@/assets/fonts/Nunito-Light.woff') format('woff')
  font-weight 300
  font-style normal

@font-face
  font-family 'Nunito'
  src url('~@/assets/fonts/Nunito-Bold.woff2') format('woff2'), 
      url('~@/assets/fonts/Nunito-Bold.woff') format('woff')
  font-weight 700
  font-style normal

@font-face
  font-family 'Material Design Icons'
  src url('~@/assets/fonts/materialdesignicons-webfont.eot?#iefix&v=4.5.95') format("embedded-opentype"), 
      url('~@/assets/fonts/materialdesignicons-webfont.woff2?v=4.5.95') format("woff2"), 
      url('~@/assets/fonts/materialdesignicons-webfont.woff?v=4.5.95') format("woff"), 
      url('~@/assets/fonts/materialdesignicons-webfont.ttf?v=4.5.95') format("truetype")
  font-weight 400
  font-style normal