@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

@import './common.styl'
@import './animation.styl'

@import './libs/ligthbox.styl'

@import './layout/aside.styl'

@import './components/icons.styl'

@import './components/form.styl'
@import './components/title.styl'
@import './components/table.styl'
@import './components/card.styl'
@import './components/media.styl'
@import './components/tiles.styl'
@import './components/dashboard.styl'
@import './components/pagination.styl'


@import './views/contries.styl'
@import './views/matches.styl'