$os = 'Nunito'

$black = #000

$small = '(max-width:1630px)'
$small1200 = '(max-width:1200px)'
$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'